.navbar-nav > li > a, .navbar-brand {
  padding:6px;
}

.navbar {
  min-height:10px;
  background:#000;
  border-radius:0px;
}

.mock-search {
  border:1px solid #fff;
  padding:0px;
  margin:2px;
}

.nav.navbar-nav {
  display:inline-block;
  float:none;
  vertical-align:top;
  text-align:center;
  margin:0 auto;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a.mock-search {
  padding:1px;
  margin:4px;
}

